{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="pcon bg-success-subtle mt-2" >
    <h2 style="padding:15px; text-align:center; font-family:cursive; font-family: Gill Sans;">About Us</h2>
    <p style="font-size: 15px; padding: 5px; font-family: Georgia;">Online Jhumkas is your virtual one-stop shop for trendy fashion jewellery! You can get the latest trends in fashion jewellery with 100+ styles in white moti, red motis, colouring, diamonds,etc jewellery. Stunning Jhumkas, founded in the year 2016, by Seema who single handedly manages the business from sourcing the pieces to packaging. If you have any questions or comments.</p>
    <p style="font-size: 15px; padding: 5px; font-family: Gill Sans;">Sincerely,</p> 
    <p style="font-size: 15px; padding: 5px; font-family: Gill Sans;">Seema....!</p>
    <p style="font-size: 15px; padding: 5px;">Online Jhumkas&#10084;</p>
    <marquee direction="left" scrollamount="15">&#10084;&#10084;
        <img src="{% static 'asset/images/goldsilver.jpg' %}" alt="photo" height="150px" width="150px" id="img30"/>
        <img src="{% static 'asset/images/j1.jpg' %}" alt="photo" height="150px" width="150px" id="img30"/>
        <img src="{% static 'asset/images/colourfulneck.jpg' %}" alt="photo" height="150px" width="150px" id="img30"/>
        <img src="{% static 'asset/images/DiamondJhumkas8.jpg' %}" alt="photo" height="150px" width="150px" id="img30"/>
        <img src="{% static 'asset/images/whitebraclet.jpg' %}" alt="photo" height="150px" width="150px" id="img30"/>
        <img src="{% static 'asset/images/Leaf-Necklacepro.jpg' %}" alt="photo" height="150px" width="150px" id="img30"/>&#10084;&#10084;
        
    </marquee>
</div>

{% endblock 'main' %}